{
  "presets": [
    "@babel/react",
    ["env", {
      "targets": {
        "browsers": "last 2 versions"
      },
      "modules": false,
      "loose": false
    }],
    "@babel/env",
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ]
}